In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in e:\users\abdul\appdata\local\programs\python\python38\lib\site-packages (2.9.4)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [5]:
data = pd.read_excel(r"E:\Users\abdul\Desktop\new project\prescription\EPD_data.xlsx")

In [7]:
TIME_KEY = []
for i in range(1,len(data)+1):
    if(i<10):
        TIME_KEY.append('T00000'+str(i))
    elif(10<=i and i<100):
       TIME_KEY.append('T0000'+str(i))
    elif(100<=i and i<1000):
       TIME_KEY.append('T000'+str(i))
    elif(1000<=i and i<10000):
       TIME_KEY.append('T00'+str(i))
    elif(10000<=i and i<100000):
       TIME_KEY.append('T0'+str(i))
    else:
       TIME_KEY.append('T'+str(i))
data['TIME_KEY'] = pd.Series(TIME_KEY, index=data.index)
data

,YEAR_MONTH,YEAR,MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,...,BNF_CHAPTER_PLUS_CODE,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,SNOMED_CODE,TIME_KEY
0,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,02: Cardiovascular System,28.0,1.0,28.0,14.0,1.52,1.42625,False,4.091080e+08,T000001
1,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,04: Central Nervous System,200.0,14.0,2800.0,700.0,341.04,318.79728,False,4.200000e+14,T000002
2,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,10: Musculoskeletal and Joint Diseases,28.0,1.0,28.0,28.0,14.47,13.57190,False,3.910000e+16,T000003
3,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,01: Gastro-Intestinal System,168.0,1.0,168.0,42.0,30.94,28.89172,False,2.140000e+16,T000004
4,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,02: Cardiovascular System,14.0,1.0,14.0,0.0,4.08,3.90748,False,7.170000e+14,T000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209989,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,...,09: Nutrition and Blood,60.0,11.0,660.0,0.0,46.68,44.18394,False,4.560000e+13,T209990
209990,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,GRANGE SURGERY,...,20: Dressings,10.0,2.0,20.0,0.0,3.72,3.50314,False,5.220000e+14,T209991
209991,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE SURGERY,...,04: Central Nervous System,56.0,1.0,56.0,560.0,4.34,4.07046,False,3.228500e+08,T209992
209992,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE MARSHSIDE SURGERY,...,02: Cardiovascular System,14.0,4.0,56.0,0.0,53.20,50.19358,False,7.039070e+08,T209993
209993,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,...,04: Central Nervous System,30.0,1.0,30.0,1.5,1.65,1.65521,False,9.220000e+14,T209994

In [8]:
LOCATION_KEY = []
for i in range(1,len(data)+1):
    if(i<10):
        LOCATION_KEY.append('L00000'+str(i))
    elif(10<=i and i<100):
        LOCATION_KEY.append('L0000'+str(i))
    elif(100<=i and i<1000):
       LOCATION_KEY.append('L000'+str(i))
    elif(1000<=i and i<10000):
       LOCATION_KEY.append('L00'+str(i))
    elif(10000<=i and i<100000):
       LOCATION_KEY.append('L0'+str(i))
    else:
       LOCATION_KEY.append('L'+str(i))
data['LOCATION_KEY'] = pd.Series(LOCATION_KEY, index=data.index)
data

,YEAR_MONTH,YEAR,MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,...,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,SNOMED_CODE,TIME_KEY,LOCATION_KEY
0,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,28.0,1.0,28.0,14.0,1.52,1.42625,False,4.091080e+08,T000001,L000001
1,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,200.0,14.0,2800.0,700.0,341.04,318.79728,False,4.200000e+14,T000002,L000002
2,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,28.0,1.0,28.0,28.0,14.47,13.57190,False,3.910000e+16,T000003,L000003
3,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,168.0,1.0,168.0,42.0,30.94,28.89172,False,2.140000e+16,T000004,L000004
4,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,14.0,1.0,14.0,0.0,4.08,3.90748,False,7.170000e+14,T000005,L000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209989,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,...,60.0,11.0,660.0,0.0,46.68,44.18394,False,4.560000e+13,T209990,L209990
209990,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,GRANGE SURGERY,...,10.0,2.0,20.0,0.0,3.72,3.50314,False,5.220000e+14,T209991,L209991
209991,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE SURGERY,...,56.0,1.0,56.0,560.0,4.34,4.07046,False,3.228500e+08,T209992,L209992
209992,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE MARSHSIDE SURGERY,...,14.0,4.0,56.0,0.0,53.20,50.19358,False,7.039070e+08,T209993,L209993
209993,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,...,30.0,1.0,30.0,1.5,1.65,1.65521,False,9.220000e+14,T209994,L209994

In [10]:
PRESCRIPTION_KEY = []
for i in range(1,len(data)+1):
    if(i<10):
        PRESCRIPTION_KEY.append('P00000'+str(i))
    elif(10<=i and i<100):
        PRESCRIPTION_KEY.append('P0000'+str(i))
    elif(100<=i and i<1000):
       PRESCRIPTION_KEY.append('P000'+str(i))
    elif(1000<=i and i<10000):
       PRESCRIPTION_KEY.append('P00'+str(i))
    elif(10000<=i and i<100000):
       PRESCRIPTION_KEY.append('P0'+str(i))
    else:
       PRESCRIPTION_KEY.append('P'+str(i))
data['PRESCRIPTION_KEY'] = pd.Series(PRESCRIPTION_KEY, index=data.index)
data

,YEAR_MONTH,YEAR,MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,...,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,SNOMED_CODE,TIME_KEY,LOCATION_KEY,PRESCRIPTION_KEY
0,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,1.0,28.0,14.0,1.52,1.42625,False,4.091080e+08,T000001,L000001,P000001
1,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,14.0,2800.0,700.0,341.04,318.79728,False,4.200000e+14,T000002,L000002,P000002
2,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,1.0,28.0,28.0,14.47,13.57190,False,3.910000e+16,T000003,L000003,P000003
3,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,1.0,168.0,42.0,30.94,28.89172,False,2.140000e+16,T000004,L000004,P000004
4,202011.0,2020.0,11.0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,1.0,14.0,0.0,4.08,3.90748,False,7.170000e+14,T000005,L000005,P000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209989,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,...,11.0,660.0,0.0,46.68,44.18394,False,4.560000e+13,T209990,L209990,P209990
209990,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,GRANGE SURGERY,...,2.0,20.0,0.0,3.72,3.50314,False,5.220000e+14,T209991,L209991,P209991
209991,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE SURGERY,...,1.0,56.0,560.0,4.34,4.07046,False,3.228500e+08,T209992,L209992,P209992
209992,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE MARSHSIDE SURGERY,...,4.0,56.0,0.0,53.20,50.19358,False,7.039070e+08,T209993,L209993,P209993
209993,202207.0,2022.0,7.0,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,...,1.0,30.0,1.5,1.65,1.65521,False,9.220000e+14,T209994,L209994,P209994

In [11]:
data.shape

(209994, 32)

In [12]:
data.columns

Index(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE',
       'TIME_KEY', 'LOCATION_KEY', 'PRESCRIPTION_KEY'],
      dtype='object')

In [78]:
data.to_csv('dataDumpv2.csv', header=True, index=False)

In [86]:
data.to_excel('dataDumpv3.xlsx')

KeyboardInterrupt:

In [13]:
dataDump=data

In [14]:
location = dataDump.drop(['YEAR_MONTH', 'YEAR', 'MONTH', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION', 'PRACTICE_NAME', 'PRACTICE_CODE',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE',
       'TIME_KEY', 'PRESCRIPTION_KEY'],axis=1)

In [15]:
location.columns

Index(['REGIONAL_OFFICE_NAME', 'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE',
       'PCO_NAME', 'PCO_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'LOCATION_KEY'],
      dtype='object')

In [16]:
prescription = dataDump.drop(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR',
        'ITEMS', 'TOTAL_QUANTITY',
       'ACTUAL_COST', 'UNIDENTIFIED',
       'TIME_KEY', 'LOCATION_KEY'], axis=1)

In [17]:
prescription.columns

Index(['BNF_CHEMICAL_SUBSTANCE', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ADQUSAGE', 'NIC', 'SNOMED_CODE',
       'PRESCRIPTION_KEY'],
      dtype='object')

In [18]:
service = dataDump.drop(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
     'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE',
       'TIME_KEY', 'LOCATION_KEY', 'PRESCRIPTION_KEY'], axis=1)

In [19]:
service.columns

Index(['PRACTICE_NAME', 'PRACTICE_CODE'], dtype='object')

In [20]:
bnf_chemical = dataDump.drop(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE',
       'TIME_KEY', 'LOCATION_KEY', 'PRESCRIPTION_KEY'], axis =1)

In [21]:
bnf_chemical.columns

Index(['BNF_CHEMICAL_SUBSTANCE', 'CHEMICAL_SUBSTANCE_BNF_DESCR'], dtype='object')

In [22]:
time = dataDump.drop(['YEAR_MONTH','REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE',
       'LOCATION_KEY', 'PRESCRIPTION_KEY'], axis =1)

In [23]:
time.columns

Index(['YEAR', 'MONTH', 'TIME_KEY'], dtype='object')

In [24]:
fact_table = dataDump.drop(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE',
       'ADQUSAGE', 'NIC', 'UNIDENTIFIED', 'SNOMED_CODE'], axis =1)

In [25]:
fact_table.columns

Index(['PRACTICE_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY', 'ACTUAL_COST',
       'TIME_KEY', 'LOCATION_KEY', 'PRESCRIPTION_KEY'],
      dtype='object')

# this is end 30/10, 1:40am

In [70]:
uniqueValues = location.nunique()
print(uniqueValues)

REGIONAL_OFFICE_NAME         8
REGIONAL_OFFICE_CODE         8
STP_NAME                    72
STP_CODE                    40
PCO_NAME                   301
PCO_CODE                   225
ADDRESS_1                 1226
ADDRESS_2                 1093
ADDRESS_3                  519
ADDRESS_4                  160
POSTCODE                  1128
LOCATION_KEY            209993
dtype: int64

In [75]:
duplicate = location[location.duplicated(subset = ['REGIONAL_OFFICE_NAME', 'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE',
       'PCO_NAME', 'PCO_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE'] )]
duplicate

,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,ADDRESS_1,ADDRESS_2,ADDRESS_3,ADDRESS_4,POSTCODE,LOCATION_KEY
1,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU,L000002
2,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU,L000003
4,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ,L000005
5,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ,L000006
6,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ,L000007
...,...,...,...,...,...,...,...,...,...,...,...,...
209988,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,"13 CHAPEL LANE, FORMBY",LIVERPOOL,MERSEYSIDE,L37 4DL,L209989
209989,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE GRANGE SURGERY,41 YORK ROAD,"BIRKDALE, SOUTHPORT",MERSEYSIDE,PR8 2AD,L209990
209990,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE,58 SCARISBRICK NEW ROAD,SOUTHPORT,MERSEYSIDE,PR8 6PG,L209991
209991,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,117 FYLDE ROAD,MARSHSIDE,SOUTHPORT,NaN,PR9 9XL,L209992
209992,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,"333 ROBINS LANE, SUTTON",ST. HELENS,MERSEYSIDE,WA9 3PN,L209993

In [70]:
# Selecting duplicate rows except first
# occurrence based on all columns
duplicate = bnf_chemical[bnf_chemical.duplicated(subset = 'BNF_CHEMICAL_SUBSTANCE', keep ='first')] 
# Print the resultant Dataframe
duplicate

       BNF_CHEMICAL_SUBSTANCE CHEMICAL_SUBSTANCE_BNF_DESCR
34                       2101             Other Appliances
40                  0906040G0               Colecalciferol
42                  0206010K0       Isosorbide mononitrate
44                  0501030L0                  Lymecycline
46                  0402030K0            Lithium carbonate
...                       ...                          ...
209989              0906040G0               Colecalciferol
209990                   2010       Surgical Adhesive Tape
209991              0407042Q0             Pizotifen malate
209992              0208020Z0                     Apixaban
209993              0407020Q0             Morphine sulfate

[208819 rows x 2 columns]

In [24]:
uniqueValues = bnf_chemical.nunique()
print(uniqueValues)

BNF_CHEMICAL_SUBSTANCE          1175
CHEMICAL_SUBSTANCE_BNF_DESCR    1073
dtype: int64

In [91]:
df = pd.DataFrame(service_name)
service_df = df.drop_duplicates(subset='BNF_CHEMICAL_SUBSTANCE', keep = 'first')
service_df

       BNF_CHEMICAL_SUBSTANCE              CHEMICAL_SUBSTANCE_BNF_DESCR
0                   0212000AA                      Rosuvastatin calcium
1                   0407010N0  Co-dydramol (Dihydrocodeine/paracetamol)
2                    1.00E+06                                  Etodolac
3                   0105010B0                     Mesalazine (Systemic)
4                   0206010K0                    Isosorbide mononitrate
...                       ...                                       ...
198246              0704050AD                    Phentolamine/aviptadil
198401              0205051J0                         Fosinopril sodium
202302              1203010C0                                Benzocaine
204264              0212000AM                                Inclisiran
206770              1203030A0                            Amylmetacresol

[1174 rows x 2 columns]

In [110]:
df = pd.DataFrame(service_name)
service_df = df.drop_duplicates(subset='PRACTICE_CODE', keep = 'first')
service_df

                                   PRACTICE_NAME PRACTICE_CODE
0                  ST. LAURENCE'S MEDICAL CENTRE        N83033
3                      STOCKTON HEATH MED.CENTRE        N81075
11                   URGENT TREATMENT CENTRE OOH        Y00753
12                          WICKHAMBROOK SURGERY        D83003
15                           THE CIRCLE PRACTICE        E84004
...                                          ...           ...
208005  CSRPRESTON COMMUNITY DERMATOLOGY SERVICE        Y04896
208212   SOUTH TYNESIDE SUBSTANCE MISUSE SERVICE        Y06061
208359                           INTEGRATED CARE        Y04096
208591                           PALLIATIVE CARE        N84628
209841  WE ARE WITH YOU REDCAR&CLEVELAND-STH BNK        Y06054

[1430 rows x 2 columns]

In [114]:
prescription.shape

(209993, 10)

In [25]:
time = data.drop(['YEAR_MONTH','REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE'], axis =1)

In [26]:
time.columns

Index(['YEAR', 'MONTH'], dtype='object')

In [20]:
time

        YEAR  MONTH
0       2020     11
1       2020     11
2       2020     11
3       2020     11
4       2020     11
...      ...    ...
209988  2022      7
209989  2022      7
209990  2022      7
209991  2022      7
209992  2022      7

[209993 rows x 2 columns]

In [32]:
TIME_KEY = []
for i in range(1,len(time)+1):
    if(i<10):
        TIME_KEY.append('T00000'+str(i))
    elif(10<=i and i<100):
       TIME_KEY.append('T0000'+str(i))
    elif(100<=i and i<1000):
       TIME_KEY.append('T000'+str(i))
    elif(1000<=i and i<10000):
       TIME_KEY.append('T00'+str(i))
    elif(10000<=i and i<100000):
       TIME_KEY.append('T0'+str(i))
    else:
       TIME_KEY.append('T'+str(i))
time['TIME_KEY'] = pd.Series(TIME_KEY, index=time.index)
time

        YEAR  MONTH TIME_KEY
0       2020     11  T000001
1       2020     11  T000002
2       2020     11  T000003
3       2020     11  T000004
4       2020     11  T000005
...      ...    ...      ...
209988  2022      7  T209989
209989  2022      7  T209990
209990  2022      7  T209991
209991  2022      7  T209992
209992  2022      7  T209993

[209993 rows x 3 columns]

In [37]:
df = pd.DataFrame(time)
time_df = df.drop_duplicates(subset = ['YEAR', 'MONTH'], keep = 'first')
time_df

        YEAR  MONTH TIME_KEY
0       2020     11  T000001
10000   2020     12  T010001
20000   2021      1  T020001
30000   2021      2  T030001
40000   2021      3  T040001
50000   2021      4  T050001
60000   2021      5  T060001
70000   2021      6  T070001
79999   2021      7  T080000
89998   2021      8  T089999
99997   2021      9  T099998
109996  2021     10  T109997
119995  2021     11  T119996
129994  2021     12  T129995
139993  2022      1  T139994
149993  2022      2  T149994
159993  2022      3  T159994
169993  2022      4  T169994
179993  2022      5  T179994
189993  2022      6  T189994
199993  2022      7  T199994

In [115]:
df = pd.DataFrame(prescription)
service_df = df.drop_duplicates(subset='BNF_CODE', keep = 'first')
service_df

,PRESCRIPTION_KEY,BNF_CHEMICAL_SUBSTANCE,BNF_CODE,BNF_DESCRIPTION,BNF_CHAPTER_PLUS_CODE,QUANTITY,ITEMS,ADQUSAGE,NIC,SNOMED_CODE
0,500000,0212000AA,0212000AAAAADAD,Rosuvastatin 5mg tablets,02: Cardiovascular System,28.0,1,14.0,1.52,4.091080e+08
1,500001,0407010N0,0407010N0BGABAI,Remedeine Forte tablets,04: Central Nervous System,200.0,14,700.0,341.04,4.200000e+14
2,500002,1.00E+06,1001010E0AAADAD,Etodolac 600mg modified-release tablets,10: Musculoskeletal and Joint Diseases,28.0,1,28.0,14.47,3.910000e+16
3,500003,0105010B0,0105010B0BIABAA,Octasa 400mg MR gastro-resistant tablets,01: Gastro-Intestinal System,168.0,1,42.0,30.94,2.140000e+16
4,500004,0206010K0,0206010K0BNACAE,Isib 60XL tablets,02: Cardiovascular System,14.0,1,0.0,4.08,7.170000e+14
...,...,...,...,...,...,...,...,...,...,...
209435,709435,0411000F0,0411000F0BMACAG,Gaalin 24mg modified-release capsules,04: Central Nervous System,28.0,1,42.0,79.80,3.580000e+16
209507,709507,2127,21270000480,Mediven Elegance class 2 (23-32mmHg) thigh len...,21: Appliances,2.0,1,0.0,54.59,1.430000e+16
209742,709742,0401010AD,0401010ADAACDCD,Melatonin 10mg/5ml oral solution,04: Central Nervous System,200.0,1,0.0,21.02,1.520000e+16
209747,709747,0905012I0,0905012I0BBAAAA,Mimpara 30mg tablets,09: Nutrition and Blood,56.0,1,0.0,251.50,8.950000e+15
209883,709883,2127,21270000209,Jobst Opaque class 2 (23-32mmHg) below knee cl...,21: Appliances,4.0,1,0.0,56.74,1.120000e+16

In [33]:
uniqueValues = location.nunique()
print(uniqueValues)

REGIONAL_OFFICE_NAME       8
REGIONAL_OFFICE_CODE       8
STP_NAME                  72
STP_CODE                  40
PCO_NAME                 301
PCO_CODE                 225
ADDRESS_1               1226
ADDRESS_2               1093
ADDRESS_3                519
ADDRESS_4                160
POSTCODE                1128
dtype: int64

In [36]:
location

,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,ADDRESS_1,ADDRESS_2,ADDRESS_3,ADDRESS_4,POSTCODE
0,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
1,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
2,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
3,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ
4,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ
...,...,...,...,...,...,...,...,...,...,...,...
209988,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,"13 CHAPEL LANE, FORMBY",LIVERPOOL,MERSEYSIDE,L37 4DL
209989,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE GRANGE SURGERY,41 YORK ROAD,"BIRKDALE, SOUTHPORT",MERSEYSIDE,PR8 2AD
209990,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE,58 SCARISBRICK NEW ROAD,SOUTHPORT,MERSEYSIDE,PR8 6PG
209991,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,117 FYLDE ROAD,MARSHSIDE,SOUTHPORT,NaN,PR9 9XL
209992,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,"333 ROBINS LANE, SUTTON",ST. HELENS,MERSEYSIDE,WA9 3PN

In [3]:
df = pd.DataFrame(location)
location_df = df.drop_duplicates()
location_df

NameError: name 'location' is not defined

In [43]:
duplicate = location[location.duplicated()] 
# Print the resultant Dataframe
duplicate

,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,ADDRESS_1,ADDRESS_2,ADDRESS_3,ADDRESS_4,POSTCODE
1,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
2,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
4,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ
5,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ
6,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ
...,...,...,...,...,...,...,...,...,...,...,...
209988,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,"13 CHAPEL LANE, FORMBY",LIVERPOOL,MERSEYSIDE,L37 4DL
209989,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE GRANGE SURGERY,41 YORK ROAD,"BIRKDALE, SOUTHPORT",MERSEYSIDE,PR8 2AD
209990,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE,58 SCARISBRICK NEW ROAD,SOUTHPORT,MERSEYSIDE,PR8 6PG
209991,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,117 FYLDE ROAD,MARSHSIDE,SOUTHPORT,NaN,PR9 9XL
209992,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,"333 ROBINS LANE, SUTTON",ST. HELENS,MERSEYSIDE,WA9 3PN

In [10]:
uniqueValues = prescription.nunique()
print(uniqueValues)

BNF_CHEMICAL_SUBSTANCE     1174
BNF_CODE                   8967
BNF_DESCRIPTION            8975
BNF_CHAPTER_PLUS_CODE        20
QUANTITY                    684
ITEMS                       405
ADQUSAGE                   2260
NIC                       15472
SNOMED_CODE                2802
dtype: int64

In [71]:
import numpy as np
location.insert(0, 'LOCATION_KEY', range(100000, 100000 + len(location)))

In [72]:
location['LOCATION_KEY']=location['LOCATION_KEY'].apply(str)

In [73]:
location.columns

Index(['LOCATION_KEY', 'REGIONAL_OFFICE_NAME', 'REGIONAL_OFFICE_CODE',
       'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE', 'ADDRESS_1',
       'ADDRESS_2', 'ADDRESS_3', 'ADDRESS_4', 'POSTCODE'],
      dtype='object')

In [93]:
import numpy as np
prescription.insert(0, 'PRESCRIPTION_KEY', range(500000, 500000 + len(location)))

In [103]:
prescription['PRESCRIPTION_KEY']=prescription['PRESCRIPTION_KEY'].apply(str)

In [95]:
prescription.columns

Index(['PRESCRIPTION_KEY', 'BNF_CHEMICAL_SUBSTANCE', 'BNF_CODE',
       'BNF_DESCRIPTION', 'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS',
       'ADQUSAGE', 'NIC', 'SNOMED_CODE'],
      dtype='object')

In [96]:
prescription['QUANTITY'] = pd.to_numeric(prescription['QUANTITY'])

In [97]:
prescription['ITEMS'] = pd.to_numeric(prescription['ITEMS'])

In [99]:
prescription['SNOMED_CODE'] = pd.to_numeric(prescription['SNOMED_CODE'])

In [104]:
prescription.dtypes

PRESCRIPTION_KEY           object
BNF_CHEMICAL_SUBSTANCE     object
BNF_CODE                   object
BNF_DESCRIPTION            object
BNF_CHAPTER_PLUS_CODE      object
QUANTITY                  float64
ITEMS                       int64
ADQUSAGE                  float64
NIC                       float64
SNOMED_CODE               float64
dtype: object

In [14]:
location.to_csv('location.csv', header=False, index=False)

In [74]:
import psycopg2
import pandas as pd
import psycopg2.extras

In [77]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="prescription_data_db",
                                           user = "postgres",
                                           password = "mudabbir",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("Connection to DB established!")
        return self.connection
con = PostgresConnection().getConnection()

Connection to DB established!

In [101]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO epd_snow.bnf_chemical(BNF_CHEMICAL_SUBSTANCE, CHEMICAL_SUBSTANCE_BNF_DESCR) VALUES (%s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, bnf_df.values)
con.commit()
cur.close()

Connection to DB established!

UniqueViolation: duplicate key value violates unique constraint "pk_1"
DETAIL:  Key (bnf_chemical_substance)=(0212000AA) already exists.

In [48]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO epd_snow.location(LOCATION_KEY, REGIONAL_OFFICE_NAME, REGIONAL_OFFICE_CODE, STP_NAME, STP_CODE, PCO_NAME, PCO_CODE, ADDRESS_1, ADDRESS_2, ADDRESS_3, ADDRESS_4, POSTCODE) VALUES (%s, %s,%s, %s,%s, %s,%s, %s,%s, %s,%s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, location.values)
con.commit()
cur.close()

Connection to DB established!

In [109]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO epd_snow.prescription(PRESCRIPTION_KEY, BNF_CHEMICAL_SUBSTANCE, BNF_CODE, BNF_DESCRIPTION, BNF_CHAPTER_PLUS_CODE, QUANTITY, ITEMS, ADQUSAGE, NIC, SNOMED_CODE) VALUES (%s, %s,%s, %s,%s, %s,%s, %s,%s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, prescription.values)
con.commit()
cur.close()

Connection to DB established!

In [113]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO epd_snow.service_name(PRACTICE_NAME, PRACTICE_CODE) VALUES (%s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, service_df.values)
con.commit()
cur.close()

Connection to DB established!