In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
import pandas as pd
import numpy as np

### Data Extraction

In [3]:
data = pd.read_csv(r"F:\HDA\Dataset\EPD Dataset\Copy of data123.csv")

In [4]:
dataDump=data

In [5]:
dataDump.columns

Index(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE'],
      dtype='object')

In [6]:
dataDump_duplicate = dataDump[dataDump.duplicated(subset = ['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE'], keep='first' )]
dataDump_duplicate

,YEAR_MONTH,YEAR,MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,...,BNF_DESCRIPTION,BNF_CHAPTER_PLUS_CODE,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,SNOMED_CODE
9536,202011,2020,11,NORTH WEST,Y62,HEALTHIER LANCASHIRE & SOUTH CUMBRIA STP,QE1,CHORLEY AND SOUTH RIBBLE CCG,00X00,LCFT NON-MEDICAL PRESCRIBERS,...,Compression hosiery class II below knee stocki...,21: Appliances,4.0,1,4.0,0.0,22.86,21.27599,False,6.040000e+15
21564,202101,2021,1,EAST OF ENGLAND,Y61,MID AND SOUTH ESSEX STP,QH8,SOUTHEND CCG,99G00,DR F KHAN CARNAVON ROAD SURGERY,...,Aymes Complete liquid (4 flavours),09: Nutrition and Blood,6400.0,1,6400.0,0.0,33.60,31.28562,False,2.670000e+16
22735,202101,2021,1,EAST OF ENGLAND,Y61,MID AND SOUTH ESSEX STP,QH8,CASTLE POINT AND ROCHFORD CCG,99F00,NMP CASTLE POINT AND ROCHFORD CCG,...,Sigvaris Essential Coton (15-20mmHg) below kne...,21: Appliances,2.0,1,2.0,0.0,28.00,26.07341,False,1.970000e+16
31146,202102,2021,2,UNIDENTIFIED,-,UNIDENTIFIED,-,UNIDENTIFIED,-,UNIDENTIFIED DOCTORS,...,VaPro Plus Pocket catheter male 8Ch-16Ch,21: Appliances,120.0,1,120.0,0.0,374.08,348.42233,True,3.240000e+16
31217,202102,2021,2,UNIDENTIFIED,-,UNIDENTIFIED,-,UNIDENTIFIED,-,UNIDENTIFIED DOCTORS,...,VaPro Pocket hydrophilic catheter male 10Ch-16Ch,21: Appliances,90.0,1,90.0,0.0,162.18,151.05628,True,2.460000e+16
31268,202102,2021,2,UNIDENTIFIED,-,UNIDENTIFIED,-,UNIDENTIFIED,-,UNIDENTIFIED DOCTORS,...,VaPro Plus Pocket catheter male 8Ch-16Ch,21: Appliances,120.0,1,120.0,0.0,374.08,348.42233,True,3.240000e+16
43977,202103,2021,3,SOUTH EAST,Y59,HAMPSHIRE & THE ISLE OF WIGHT STP,QRL,PORTSMOUTH CCG,10R00,SUNNYSIDE MEDICAL CENTRE,...,Aymes Complete liquid (4 flavours),09: Nutrition and Blood,1600.0,1,1600.0,0.0,8.40,7.82878,False,2.670000e+16
44491,202103,2021,3,SOUTH EAST,Y59,HAMPSHIRE & THE ISLE OF WIGHT STP,QRL,NORTH HAMPSHIRE CCG,10J00,CROWN HEIGHTS MEDICAL CENTRE,...,Jobst UltraSheer class 1 (18-21mmHg) tights cl...,21: Appliances,2.0,1,2.0,0.0,96.34,89.65888,False,2.530000e+16
83660,202107,2021,7,NORTH WEST,Y62,GREATER MANCHESTER HSC PARTNERSHIP STP,QOP,BURY CCG,00V00,RIBBLESDALE MEDICAL PRACTICE,...,"Ring pessary 1.25cm thick, 50-80mm diameter, PVC",21: Appliances,1.0,1,1.0,0.0,2.39,2.24110,False,3.020000e+15
143496,202201,2022,1,NORTH EAST AND YORKSHIRE,Y63,"HUMBER, COAST & VALE STP",QOQ,NORTH EAST LINCOLNSHIRE CCG,03H00,CLEE MEDICAL CENTRE,...,Aymes Complete liquid (4 flavours),09: Nutrition and Blood,2800.0,1,2800.0,0.0,14.70,13.76441,False,2.670000e+16
163084,202203,2022,3,SOUTH EAST,Y59,HAMPSHIRE & THE ISLE OF WIGHT STP,QRL,PORTSMOUTH CCG,10R00,SUNNYSIDE MEDICAL CENTRE,...,Aymes Complete liquid (4 flavours),09: Nutrition and Blood,1600.0,1,1600.0,0.0,8.40,7.86781,False,2.670000e+16

In [7]:
df = pd.DataFrame(dataDump)
dataDump_df = df.drop_duplicates(subset=['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE'])
dataDump_df

,YEAR_MONTH,YEAR,MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,...,BNF_DESCRIPTION,BNF_CHAPTER_PLUS_CODE,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,SNOMED_CODE
0,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,Rosuvastatin 5mg tablets,02: Cardiovascular System,28.0,1,28.0,14.0,1.52,1.42625,False,4.091080e+08
1,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,Remedeine Forte tablets,04: Central Nervous System,200.0,14,2800.0,700.0,341.04,318.79728,False,4.200000e+14
2,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,Etodolac 600mg modified-release tablets,10: Musculoskeletal and Joint Diseases,28.0,1,28.0,28.0,14.47,13.57190,False,3.910000e+16
3,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,Octasa 400mg MR gastro-resistant tablets,01: Gastro-Intestinal System,168.0,1,168.0,42.0,30.94,28.89172,False,2.140000e+16
4,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,Isib 60XL tablets,02: Cardiovascular System,14.0,1,14.0,0.0,4.08,3.90748,False,7.170000e+14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209988,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,...,Calcichew D3 Forte chewable tablets,09: Nutrition and Blood,60.0,11,660.0,0.0,46.68,44.18394,False,4.560000e+13
209989,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,GRANGE SURGERY,...,Micropore tape 2.5cm,20: Dressings,10.0,2,20.0,0.0,3.72,3.50314,False,5.220000e+14
209990,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE SURGERY,...,Pizotifen 1.5mg tablets,04: Central Nervous System,56.0,1,56.0,560.0,4.34,4.07046,False,3.228500e+08
209991,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE MARSHSIDE SURGERY,...,Apixaban 2.5mg tablets,02: Cardiovascular System,14.0,4,56.0,0.0,53.20,50.19358,False,7.039070e+08
209992,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,...,MST Continus 5mg tablets,04: Central Nervous System,30.0,1,30.0,1.5,1.65,1.65521,False,9.220000e+14

In [8]:
dataDump_df = dataDump_df.reset_index(drop=True)
dataDump_df

,YEAR_MONTH,YEAR,MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,...,BNF_DESCRIPTION,BNF_CHAPTER_PLUS_CODE,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,SNOMED_CODE
0,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,Rosuvastatin 5mg tablets,02: Cardiovascular System,28.0,1,28.0,14.0,1.52,1.42625,False,4.091080e+08
1,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,Remedeine Forte tablets,04: Central Nervous System,200.0,14,2800.0,700.0,341.04,318.79728,False,4.200000e+14
2,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,Etodolac 600mg modified-release tablets,10: Musculoskeletal and Joint Diseases,28.0,1,28.0,28.0,14.47,13.57190,False,3.910000e+16
3,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,Octasa 400mg MR gastro-resistant tablets,01: Gastro-Intestinal System,168.0,1,168.0,42.0,30.94,28.89172,False,2.140000e+16
4,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,Isib 60XL tablets,02: Cardiovascular System,14.0,1,14.0,0.0,4.08,3.90748,False,7.170000e+14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209977,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,...,Calcichew D3 Forte chewable tablets,09: Nutrition and Blood,60.0,11,660.0,0.0,46.68,44.18394,False,4.560000e+13
209978,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,GRANGE SURGERY,...,Micropore tape 2.5cm,20: Dressings,10.0,2,20.0,0.0,3.72,3.50314,False,5.220000e+14
209979,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE SURGERY,...,Pizotifen 1.5mg tablets,04: Central Nervous System,56.0,1,56.0,560.0,4.34,4.07046,False,3.228500e+08
209980,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE MARSHSIDE SURGERY,...,Apixaban 2.5mg tablets,02: Cardiovascular System,14.0,4,56.0,0.0,53.20,50.19358,False,7.039070e+08
209981,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,...,MST Continus 5mg tablets,04: Central Nervous System,30.0,1,30.0,1.5,1.65,1.65521,False,9.220000e+14

### Generating Key

##### Time Key

In [9]:
dataDump.loc[0, 'YEAR_MONTH']

202011

In [10]:
TIME_KEY = []
for i in range(0,len(dataDump_df)):
    TIME_KEY.append('T' + str(dataDump_df._get_value(i, 'YEAR_MONTH')))

dataDump_df['TIME_KEY'] = pd.Series(TIME_KEY, index=dataDump_df.index)
dataDump_df

,YEAR_MONTH,YEAR,MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,...,BNF_CHAPTER_PLUS_CODE,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,SNOMED_CODE,TIME_KEY
0,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,02: Cardiovascular System,28.0,1,28.0,14.0,1.52,1.42625,False,4.091080e+08,T202011
1,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,04: Central Nervous System,200.0,14,2800.0,700.0,341.04,318.79728,False,4.200000e+14,T202011
2,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,10: Musculoskeletal and Joint Diseases,28.0,1,28.0,28.0,14.47,13.57190,False,3.910000e+16,T202011
3,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,01: Gastro-Intestinal System,168.0,1,168.0,42.0,30.94,28.89172,False,2.140000e+16,T202011
4,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,02: Cardiovascular System,14.0,1,14.0,0.0,4.08,3.90748,False,7.170000e+14,T202011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209977,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,...,09: Nutrition and Blood,60.0,11,660.0,0.0,46.68,44.18394,False,4.560000e+13,T202207
209978,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,GRANGE SURGERY,...,20: Dressings,10.0,2,20.0,0.0,3.72,3.50314,False,5.220000e+14,T202207
209979,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE SURGERY,...,04: Central Nervous System,56.0,1,56.0,560.0,4.34,4.07046,False,3.228500e+08,T202207
209980,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE MARSHSIDE SURGERY,...,02: Cardiovascular System,14.0,4,56.0,0.0,53.20,50.19358,False,7.039070e+08,T202207
209981,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,...,04: Central Nervous System,30.0,1,30.0,1.5,1.65,1.65521,False,9.220000e+14,T202207

##### Location Key

In [11]:
LOCATION_KEY = []
for i in range(1,len(dataDump_df)+1):
    if(i<10):
        LOCATION_KEY.append('L000000'+str(i))
    elif(10<=i and i<100):
        LOCATION_KEY.append('L00000'+str(i))
    elif(100<=i and i<1000):
       LOCATION_KEY.append('L0000'+str(i))
    elif(1000<=i and i<10000):
       LOCATION_KEY.append('L000'+str(i))
    elif(10000<=i and i<100000):
       LOCATION_KEY.append('L00'+str(i))
    else:
       LOCATION_KEY.append('L0'+str(i))
dataDump_df['LOCATION_KEY'] = pd.Series(LOCATION_KEY, index=dataDump_df.index)
dataDump_df

,YEAR_MONTH,YEAR,MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,...,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,SNOMED_CODE,TIME_KEY,LOCATION_KEY
0,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,28.0,1,28.0,14.0,1.52,1.42625,False,4.091080e+08,T202011,L0000001
1,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,200.0,14,2800.0,700.0,341.04,318.79728,False,4.200000e+14,T202011,L0000002
2,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,28.0,1,28.0,28.0,14.47,13.57190,False,3.910000e+16,T202011,L0000003
3,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,168.0,1,168.0,42.0,30.94,28.89172,False,2.140000e+16,T202011,L0000004
4,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,14.0,1,14.0,0.0,4.08,3.90748,False,7.170000e+14,T202011,L0000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209977,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,...,60.0,11,660.0,0.0,46.68,44.18394,False,4.560000e+13,T202207,L0209978
209978,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,GRANGE SURGERY,...,10.0,2,20.0,0.0,3.72,3.50314,False,5.220000e+14,T202207,L0209979
209979,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE SURGERY,...,56.0,1,56.0,560.0,4.34,4.07046,False,3.228500e+08,T202207,L0209980
209980,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE MARSHSIDE SURGERY,...,14.0,4,56.0,0.0,53.20,50.19358,False,7.039070e+08,T202207,L0209981
209981,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,...,30.0,1,30.0,1.5,1.65,1.65521,False,9.220000e+14,T202207,L0209982

In [ ]:
string = str('L0' + dataDump._get_value(0, 'REGIONAL_OFFICE_CODE')[0] + dataDump._get_value(0, 'STP_CODE')[0] + 
    dataDump._get_value(0, 'PCO_CODE')[0] + dataDump._get_value(0, 'POSTCODE')[0:3])
string

In [39]:
LOCATION_KEY2 = []
for i in range(0,len(dataDump_df)):
    LOCATION_KEY2.append(str('L0' + dataDump_df._get_value(i, 'REGIONAL_OFFICE_CODE') + dataDump_df._get_value(i, 'STP_CODE') + 
    dataDump_df._get_value(i, 'PCO_CODE') + dataDump_df._get_value(i, 'POSTCODE')))
dataDump_df['LOCATION_KEY2'] = pd.Series(LOCATION_KEY2, index=dataDump_df.index)
dataDump_df

,YEAR_MONTH,YEAR,MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,...,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,SNOMED_CODE,TIME_KEY,LOCATION_KEY2
0,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,28.0,1,28.0,14.0,1.52,1.42625,False,4.091080e+08,T202011,L0Y62QYG01J00L32 9QU
1,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,200.0,14,2800.0,700.0,341.04,318.79728,False,4.200000e+14,T202011,L0Y62QYG01J00L32 9QU
2,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,28.0,1,28.0,28.0,14.47,13.57190,False,3.910000e+16,T202011,L0Y62QYG01J00L32 9QU
3,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,168.0,1,168.0,42.0,30.94,28.89172,False,2.140000e+16,T202011,L0Y62QYG2.00E+00WA4 6HJ
4,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,14.0,1,14.0,0.0,4.08,3.90748,False,7.170000e+14,T202011,L0Y62QYG2.00E+00WA4 6HJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209977,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,...,60.0,11,660.0,0.0,46.68,44.18394,False,4.560000e+13,T202207,L0Y62QYG01V00L37 4DL
209978,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,GRANGE SURGERY,...,10.0,2,20.0,0.0,3.72,3.50314,False,5.220000e+14,T202207,L0Y62QYG01V00PR8 2AD
209979,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE SURGERY,...,56.0,1,56.0,560.0,4.34,4.07046,False,3.228500e+08,T202207,L0Y62QYG01V00PR8 6PG
209980,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE MARSHSIDE SURGERY,...,14.0,4,56.0,0.0,53.20,50.19358,False,7.039070e+08,T202207,L0Y62QYG01V00PR9 9XL
209981,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,...,30.0,1,30.0,1.5,1.65,1.65521,False,9.220000e+14,T202207,L0Y62QYG01X00WA9 3PN

##### Prescription Key

In [12]:
PRESCRIPTION_KEY = []
for i in range(1,len(dataDump_df)+1):
    if(i<10):
        PRESCRIPTION_KEY.append('P000000'+str(i))
    elif(10<=i and i<100):
        PRESCRIPTION_KEY.append('P00000'+str(i))
    elif(100<=i and i<1000):
       PRESCRIPTION_KEY.append('P0000'+str(i))
    elif(1000<=i and i<10000):
       PRESCRIPTION_KEY.append('P000'+str(i))
    elif(10000<=i and i<100000):
       PRESCRIPTION_KEY.append('P00'+str(i))
    else:
       PRESCRIPTION_KEY.append('P0'+str(i))
dataDump_df['PRESCRIPTION_KEY'] = pd.Series(PRESCRIPTION_KEY, index=dataDump_df.index)
dataDump_df

,YEAR_MONTH,YEAR,MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,...,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,SNOMED_CODE,TIME_KEY,LOCATION_KEY,PRESCRIPTION_KEY
0,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,1,28.0,14.0,1.52,1.42625,False,4.091080e+08,T202011,L0000001,P0000001
1,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,14,2800.0,700.0,341.04,318.79728,False,4.200000e+14,T202011,L0000002,P0000002
2,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST. LAURENCE'S MEDICAL CENTRE,...,1,28.0,28.0,14.47,13.57190,False,3.910000e+16,T202011,L0000003,P0000003
3,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,1,168.0,42.0,30.94,28.89172,False,2.140000e+16,T202011,L0000004,P0000004
4,202011,2020,11,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,...,1,14.0,0.0,4.08,3.90748,False,7.170000e+14,T202011,L0000005,P0000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209977,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,...,11,660.0,0.0,46.68,44.18394,False,4.560000e+13,T202207,L0209978,P0209978
209978,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,GRANGE SURGERY,...,2,20.0,0.0,3.72,3.50314,False,5.220000e+14,T202207,L0209979,P0209979
209979,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE SURGERY,...,1,56.0,560.0,4.34,4.07046,False,3.228500e+08,T202207,L0209980,P0209980
209980,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE MARSHSIDE SURGERY,...,4,56.0,0.0,53.20,50.19358,False,7.039070e+08,T202207,L0209981,P0209981
209981,202207,2022,7,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,...,1,30.0,1.5,1.65,1.65521,False,9.220000e+14,T202207,L0209982,P0209982

###### Unique count

In [41]:
uniqueValues = dataDump_df.nunique()
print(uniqueValues)

YEAR_MONTH                          21
YEAR                                 3
MONTH                               12
REGIONAL_OFFICE_NAME                 8
REGIONAL_OFFICE_CODE                 8
STP_NAME                            72
STP_CODE                            40
PCO_NAME                           301
PCO_CODE                           225
PRACTICE_NAME                     1413
PRACTICE_CODE                     1430
ADDRESS_1                         1226
ADDRESS_2                         1093
ADDRESS_3                          519
ADDRESS_4                          160
POSTCODE                          1129
BNF_CHEMICAL_SUBSTANCE            1174
CHEMICAL_SUBSTANCE_BNF_DESCR      1072
BNF_CODE                          8967
BNF_DESCRIPTION                   8975
BNF_CHAPTER_PLUS_CODE               20
QUANTITY                           684
ITEMS                              405
TOTAL_QUANTITY                    1610
ADQUSAGE                          2260
NIC                              15472
ACTUAL_COST                     142672
UNIDENTIFIED                         2
SNOMED_CODE                       2802
TIME_KEY                            21
LOCATION_KEY2                     1205
dtype: int64

### Tables

In [13]:
dataDump_df.shape

(209982, 32)

In [14]:
dataDump_df.columns

Index(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE',
       'TIME_KEY', 'LOCATION_KEY', 'PRESCRIPTION_KEY'],
      dtype='object')

###### Location

In [15]:
location = dataDump_df.drop(['YEAR_MONTH', 'YEAR', 'MONTH', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION', 'PRACTICE_NAME', 'PRACTICE_CODE',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE',
       'TIME_KEY', 'PRESCRIPTION_KEY'],axis=1)

In [32]:
location.columns

Index(['REGIONAL_OFFICE_NAME', 'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE',
       'PCO_NAME', 'PCO_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'LOCATION_KEY'],
      dtype='object')

In [108]:
location

,LOCATION_KEY,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,ADDRESS_1,ADDRESS_2,ADDRESS_3,ADDRESS_4,POSTCODE
0,L0000001,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
1,L0000002,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
2,L0000003,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
3,L0000004,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ
4,L0000005,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ
...,...,...,...,...,...,...,...,...,...,...,...,...
209977,L0209978,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,"13 CHAPEL LANE, FORMBY",LIVERPOOL,MERSEYSIDE,L37 4DL
209978,L0209979,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE GRANGE SURGERY,41 YORK ROAD,"BIRKDALE, SOUTHPORT",MERSEYSIDE,PR8 2AD
209979,L0209980,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE,58 SCARISBRICK NEW ROAD,SOUTHPORT,MERSEYSIDE,PR8 6PG
209980,L0209981,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,117 FYLDE ROAD,MARSHSIDE,SOUTHPORT,NaN,PR9 9XL
209981,L0209982,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,"333 ROBINS LANE, SUTTON",ST. HELENS,MERSEYSIDE,WA9 3PN

In [56]:
# shift column 'Name' to first position
first_column = location.pop('LOCATION_KEY')
  
# insert column using insert(position,column_name,
# first_column) function
location.insert(0, 'LOCATION_KEY', first_column)
location

,LOCATION_KEY,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,STP_NAME,STP_CODE,PCO_NAME,PCO_CODE,ADDRESS_1,ADDRESS_2,ADDRESS_3,ADDRESS_4,POSTCODE
0,L0000001,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
1,L0000002,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
2,L0000003,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,KNOWSLEY CCG,01J00,ST.LAURENCE'S MEDICAL CTR,32 LEESIDE AVENUE,"SOUTHDENE,KIRKBY",LIVERPOOL,L32 9QU
3,L0000004,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ
4,L0000005,NORTH WEST,Y62,CHESHIRE & MERSEYSIDE STP,QYG,WARRINGTON CCG,2.00E+00,STOCKTON HEATH MED.CENTRE,"THE FORGE,LONDON ROAD",STOCKTON HEATH,"WARRINGTON,CHESHIRE",WA4 6HJ
...,...,...,...,...,...,...,...,...,...,...,...,...
209977,L0209978,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CHAPEL LANE SURGERY,"13 CHAPEL LANE, FORMBY",LIVERPOOL,MERSEYSIDE,L37 4DL
209978,L0209979,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,THE GRANGE SURGERY,41 YORK ROAD,"BIRKDALE, SOUTHPORT",MERSEYSIDE,PR8 2AD
209979,L0209980,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,CUMBERLAND HOUSE,58 SCARISBRICK NEW ROAD,SOUTHPORT,MERSEYSIDE,PR8 6PG
209980,L0209981,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01V,01V00,117 FYLDE ROAD,MARSHSIDE,SOUTHPORT,NaN,PR9 9XL
209981,L0209982,NORTH WEST,Y62,NHS CHESHIRE AND MERSEYSIDE INTEGRATED C,QYG,NHS CHESHIRE AND MERSEYSIDE ICB - 01X,01X00,RAINBOW MEDICAL CENTRE,"333 ROBINS LANE, SUTTON",ST. HELENS,MERSEYSIDE,WA9 3PN

In [ ]:
uniqueValues = location.nunique()
print(uniqueValues)

###### Prescription

In [17]:
prescription = dataDump_df.drop(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR',
        'ITEMS', 'TOTAL_QUANTITY',
       'ACTUAL_COST', 'UNIDENTIFIED',
       'TIME_KEY', 'LOCATION_KEY'], axis=1)

In [59]:
# shift column 'Name' to first position
first_column = prescription.pop('PRESCRIPTION_KEY')
  
# insert column using insert(position,column_name,
# first_column) function
prescription.insert(0, 'PRESCRIPTION_KEY', first_column)
prescription

,PRESCRIPTION_KEY,BNF_CHEMICAL_SUBSTANCE,BNF_CODE,BNF_DESCRIPTION,BNF_CHAPTER_PLUS_CODE,QUANTITY,ADQUSAGE,NIC,SNOMED_CODE
0,P0000001,0212000AA,0212000AAAAADAD,Rosuvastatin 5mg tablets,02: Cardiovascular System,28.0,14.0,1.52,4.091080e+08
1,P0000002,0407010N0,0407010N0BGABAI,Remedeine Forte tablets,04: Central Nervous System,200.0,700.0,341.04,4.200000e+14
2,P0000003,1.00E+06,1001010E0AAADAD,Etodolac 600mg modified-release tablets,10: Musculoskeletal and Joint Diseases,28.0,28.0,14.47,3.910000e+16
3,P0000004,0105010B0,0105010B0BIABAA,Octasa 400mg MR gastro-resistant tablets,01: Gastro-Intestinal System,168.0,42.0,30.94,2.140000e+16
4,P0000005,0206010K0,0206010K0BNACAE,Isib 60XL tablets,02: Cardiovascular System,14.0,0.0,4.08,7.170000e+14
...,...,...,...,...,...,...,...,...,...
209977,P0209978,0906040G0,0906040G0BRABBW,Calcichew D3 Forte chewable tablets,09: Nutrition and Blood,60.0,0.0,46.68,4.560000e+13
209978,P0209979,2010,20100000532,Micropore tape 2.5cm,20: Dressings,10.0,0.0,3.72,5.220000e+14
209979,P0209980,0407042Q0,0407042Q0AAACAC,Pizotifen 1.5mg tablets,04: Central Nervous System,56.0,560.0,4.34,3.228500e+08
209980,P0209981,0208020Z0,0208020Z0AAAAAA,Apixaban 2.5mg tablets,02: Cardiovascular System,14.0,0.0,53.20,7.039070e+08
209981,P0209982,0407020Q0,0407020Q0BBAKCG,MST Continus 5mg tablets,04: Central Nervous System,30.0,1.5,1.65,9.220000e+14

In [60]:
prescription.columns

Index(['PRESCRIPTION_KEY', 'BNF_CHEMICAL_SUBSTANCE', 'BNF_CODE',
       'BNF_DESCRIPTION', 'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ADQUSAGE',
       'NIC', 'SNOMED_CODE'],
      dtype='object')

###### Service

In [20]:
service = dataDump_df.drop(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
     'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE',
       'TIME_KEY', 'LOCATION_KEY', 'PRESCRIPTION_KEY'], axis=1)

In [21]:
service.columns

Index(['PRACTICE_NAME', 'PRACTICE_CODE'], dtype='object')

In [104]:
service

                        PRACTICE_NAME PRACTICE_CODE
0       ST. LAURENCE'S MEDICAL CENTRE        N83033
1       ST. LAURENCE'S MEDICAL CENTRE        N83033
2       ST. LAURENCE'S MEDICAL CENTRE        N83033
3           STOCKTON HEATH MED.CENTRE        N81075
4           STOCKTON HEATH MED.CENTRE        N81075
...                               ...           ...
209977            CHAPEL LANE SURGERY        N84006
209978                 GRANGE SURGERY        N84024
209979       CUMBERLAND HOUSE SURGERY        N84005
209980          THE MARSHSIDE SURGERY        N84614
209981         RAINBOW MEDICAL CENTRE        N83001

[209982 rows x 2 columns]

######  BNF

In [23]:
bnf_chemical = dataDump_df.drop(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE',
       'TIME_KEY', 'LOCATION_KEY', 'PRESCRIPTION_KEY'], axis =1)

In [25]:
bnf_chemical.columns

Index(['BNF_CHEMICAL_SUBSTANCE', 'CHEMICAL_SUBSTANCE_BNF_DESCR'], dtype='object')

In [105]:
bnf_chemical

       BNF_CHEMICAL_SUBSTANCE              CHEMICAL_SUBSTANCE_BNF_DESCR
0                   0212000AA                      Rosuvastatin calcium
1                   0407010N0  Co-dydramol (Dihydrocodeine/paracetamol)
2                    1.00E+06                                  Etodolac
3                   0105010B0                     Mesalazine (Systemic)
4                   0206010K0                    Isosorbide mononitrate
...                       ...                                       ...
209977              0906040G0                            Colecalciferol
209978                   2010                    Surgical Adhesive Tape
209979              0407042Q0                          Pizotifen malate
209980              0208020Z0                                  Apixaban
209981              0407020Q0                          Morphine sulfate

[209982 rows x 2 columns]

###### Time

In [26]:
time = dataDump_df.drop(['YEAR_MONTH','REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY',
       'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED', 'SNOMED_CODE',
       'LOCATION_KEY', 'PRESCRIPTION_KEY'], axis =1)

In [27]:
time.columns

Index(['YEAR', 'MONTH', 'TIME_KEY'], dtype='object')

In [106]:
time

        YEAR  MONTH TIME_KEY
0       2020     11  T202011
1       2020     11  T202011
2       2020     11  T202011
3       2020     11  T202011
4       2020     11  T202011
...      ...    ...      ...
209977  2022      7  T202207
209978  2022      7  T202207
209979  2022      7  T202207
209980  2022      7  T202207
209981  2022      7  T202207

[209982 rows x 3 columns]

In [85]:
# shift column 'Name' to first position
first_column = time_df.pop('TIME_KEY')
  
# insert column using insert(position,column_name,
# first_column) function
time_df.insert(0, 'TIME_KEY', first_column)
time_df

       TIME_KEY  YEAR  MONTH
0       T202011  2020     11
9999    T202012  2020     12
19999   T202101  2021      1
29997   T202102  2021      2
39994   T202103  2021      3
49992   T202104  2021      4
59992   T202105  2021      5
69992   T202106  2021      6
79991   T202107  2021      7
89989   T202108  2021      8
99988   T202109  2021      9
109987  T202110  2021     10
119986  T202111  2021     11
129985  T202112  2021     12
139984  T202201  2022      1
149983  T202202  2022      2
159983  T202203  2022      3
169982  T202204  2022      4
179982  T202205  2022      5
189982  T202206  2022      6
199982  T202207  2022      7

###### Fact

In [29]:
fact_table = dataDump_df.drop(['YEAR_MONTH', 'YEAR', 'MONTH', 'REGIONAL_OFFICE_NAME',
       'REGIONAL_OFFICE_CODE', 'STP_NAME', 'STP_CODE', 'PCO_NAME', 'PCO_CODE',
       'PRACTICE_NAME', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3',
       'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE',
       'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION',
       'BNF_CHAPTER_PLUS_CODE',
       'ADQUSAGE', 'NIC', 'UNIDENTIFIED', 'SNOMED_CODE'], axis =1)

In [30]:
fact_table.columns

Index(['PRACTICE_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY', 'ACTUAL_COST',
       'TIME_KEY', 'LOCATION_KEY', 'PRESCRIPTION_KEY'],
      dtype='object')

In [107]:
fact_table

,PRACTICE_CODE,QUANTITY,ITEMS,TOTAL_QUANTITY,ACTUAL_COST,TIME_KEY,LOCATION_KEY,PRESCRIPTION_KEY
0,N83033,28.0,1,28.0,1.42625,T202011,L0000001,P0000001
1,N83033,200.0,14,2800.0,318.79728,T202011,L0000002,P0000002
2,N83033,28.0,1,28.0,13.57190,T202011,L0000003,P0000003
3,N81075,168.0,1,168.0,28.89172,T202011,L0000004,P0000004
4,N81075,14.0,1,14.0,3.90748,T202011,L0000005,P0000005
...,...,...,...,...,...,...,...,...
209977,N84006,60.0,11,660.0,44.18394,T202207,L0209978,P0209978
209978,N84024,10.0,2,20.0,3.50314,T202207,L0209979,P0209979
209979,N84005,56.0,1,56.0,4.07046,T202207,L0209980,P0209980
209980,N84614,14.0,4,56.0,50.19358,T202207,L0209981,P0209981
209981,N83001,30.0,1,30.0,1.65521,T202207,L0209982,P0209982

#### Dropping duplicates

In [115]:
uniqueValues = bnf_chemical.nunique()
print(uniqueValues)

BNF_CHEMICAL_SUBSTANCE          1174
CHEMICAL_SUBSTANCE_BNF_DESCR    1072
dtype: int64

In [118]:
duplicate = bnf_chemical[bnf_chemical.duplicated(subset = 'BNF_CHEMICAL_SUBSTANCE', keep ='first')] 
duplicate

    BNF_CHEMICAL_SUBSTANCE CHEMICAL_SUBSTANCE_BNF_DESCR
34                    2101             Other Appliances
40               0906040G0               Colecalciferol
42               0206010K0       Isosorbide mononitrate
44               0501030L0                  Lymecycline
46               0402030K0            Lithium carbonate
52                40702040       Tramadol hydrochloride
53               0906040G0               Colecalciferol
57               0601023AE                  Linagliptin
70               1304000F0       Betamethasone valerate
76               0302000C0   Beclometasone dipropionate
81               0603020T0                 Prednisolone
82                90402000            Enteral nutrition
101              0103050P0                   Omeprazole
103              0603020T0                 Prednisolone
107              0906040G0               Colecalciferol
108              1310020N0           Miconazole nitrate
113              0105010B0        Mesalazine (Systemic)
114              0106070B0                  Linaclotide
119              0901011P0              Ferrous sulfate
120              1001010P0                     Naproxen

In [50]:
df = pd.DataFrame(bnf_chemical)
bnf_df = df.drop_duplicates(subset='BNF_CHEMICAL_SUBSTANCE')
bnf_df

       BNF_CHEMICAL_SUBSTANCE              CHEMICAL_SUBSTANCE_BNF_DESCR
0                   0212000AA                      Rosuvastatin calcium
1                   0407010N0  Co-dydramol (Dihydrocodeine/paracetamol)
2                    1.00E+06                                  Etodolac
3                   0105010B0                     Mesalazine (Systemic)
4                   0206010K0                    Isosorbide mononitrate
...                       ...                                       ...
198235              0704050AD                    Phentolamine/aviptadil
198390              0205051J0                         Fosinopril sodium
202291              1203010C0                                Benzocaine
204253              0212000AM                                Inclisiran
206759              1203030A0                            Amylmetacresol

[1174 rows x 2 columns]

In [87]:
df = pd.DataFrame(service)
service_df = df.drop_duplicates(subset='PRACTICE_CODE', keep = 'first')
service_df

                                   PRACTICE_NAME PRACTICE_CODE
0                  ST. LAURENCE'S MEDICAL CENTRE        N83033
3                      STOCKTON HEATH MED.CENTRE        N81075
11                   URGENT TREATMENT CENTRE OOH        Y00753
12                          WICKHAMBROOK SURGERY        D83003
15                           THE CIRCLE PRACTICE        E84004
...                                          ...           ...
207994  CSRPRESTON COMMUNITY DERMATOLOGY SERVICE        Y04896
208201   SOUTH TYNESIDE SUBSTANCE MISUSE SERVICE        Y06061
208348                           INTEGRATED CARE        Y04096
208580                           PALLIATIVE CARE        N84628
209830  WE ARE WITH YOU REDCAR&CLEVELAND-STH BNK        Y06054

[1430 rows x 2 columns]

In [84]:
df = pd.DataFrame(time)
time_df = df.drop_duplicates(subset='TIME_KEY')
time_df

        YEAR  MONTH TIME_KEY
0       2020     11  T202011
9999    2020     12  T202012
19999   2021      1  T202101
29997   2021      2  T202102
39994   2021      3  T202103
49992   2021      4  T202104
59992   2021      5  T202105
69992   2021      6  T202106
79991   2021      7  T202107
89989   2021      8  T202108
99988   2021      9  T202109
109987  2021     10  T202110
119986  2021     11  T202111
129985  2021     12  T202112
139984  2022      1  T202201
149983  2022      2  T202202
159983  2022      3  T202203
169982  2022      4  T202204
179982  2022      5  T202205
189982  2022      6  T202206
199982  2022      7  T202207

#### Writing to Excel

In [110]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [114]:
with pd.ExcelWriter('EPD_data.xlsx') as writer:  
    location.to_excel(writer, sheet_name='LOCATION', index=False)
    prescription.to_excel(writer, sheet_name='PRESCRIPTION', index=False)
    time_df.to_excel(writer, sheet_name='TIME', index=False)
    bnf_df.to_excel(writer, sheet_name='BNF_CHEMICAL', index=False)
    service_df.to_excel(writer, sheet_name='SERVICE', index=False)
    fact_table.to_excel(writer, sheet_name='FACT_TABLE', index=False)

### Transforming data types

In [97]:
prescription.dtypes

PRESCRIPTION_KEY           object
BNF_CHEMICAL_SUBSTANCE     object
BNF_CODE                   object
BNF_DESCRIPTION            object
BNF_CHAPTER_PLUS_CODE      object
QUANTITY                  float64
ADQUSAGE                  float64
NIC                       float64
SNOMED_CODE               float64
dtype: object

In [96]:
prescription['QUANTITY'] = pd.to_numeric(prescription['QUANTITY'])

In [97]:
prescription['ITEMS'] = pd.to_numeric(prescription['ITEMS'])

In [99]:
prescription['SNOMED_CODE'] = pd.to_numeric(prescription['SNOMED_CODE'])

### Loading

In [39]:
import psycopg2
import pandas as pd
import psycopg2.extras

In [40]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="prescription_data_db",
                                           user = "postgres",
                                           password = "mudabbir",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("Connection to DB established!")
        return self.connection
con = PostgresConnection().getConnection()

Connection to DB established!

In [53]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO epd_snow.bnf_chemical(BNF_CHEMICAL_SUBSTANCE, CHEMICAL_SUBSTANCE_BNF_DESCR) VALUES (%s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, bnf_df.values)
con.commit()
cur.close()

Connection to DB established!

In [57]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO epd_snow.location(LOCATION_KEY, REGIONAL_OFFICE_NAME, REGIONAL_OFFICE_CODE, STP_NAME, STP_CODE, PCO_NAME, PCO_CODE, ADDRESS_1, ADDRESS_2, ADDRESS_3, ADDRESS_4, POSTCODE) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, location.values)
con.commit()
cur.close()

Connection to DB established!

In [98]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO epd_snow.prescription(PRESCRIPTION_KEY,BNF_CHEMICAL_SUBSTANCE,BNF_CODE,BNF_DESCRIPTION,BNF_CHAPTER_PLUS_CODE,QUANTITY,ADQUSAGE,NIC,SNOMED_CODE) VALUES (%s, %s,%s, %s,%s, %s,%s, %s,%s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, prescription.values)
con.commit()
cur.close()

Connection to DB established!

In [88]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO epd_snow.service(PRACTICE_NAME, PRACTICE_CODE) VALUES (%s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, service_df.values)
con.commit()
cur.close()

Connection to DB established!

In [93]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO epd_snow.time(TIME_KEY,YEAR,MONTH) VALUES (%s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, time_df.values)
con.commit()
cur.close()

Connection to DB established!

In [102]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO epd_snow.fact_table(PRACTICE_CODE, QUANTITY, ITEMS, TOTAL_QUANTITY, ACTUAL_COST, TIME_KEY, LOCATION_KEY, PRESCRIPTION_KEY) VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, fact_table.values)
con.commit()
cur.close()

Connection to DB established!